.footer {
    background-color: #304A6E;
    color: white;
    text-align: center;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120%;
}


.footer-info p {
    margin: 5px 0;
}

.footer-links,
.footer-social {
    margin: 10px 0;
}

.footer-links a,
.footer-social .social-link {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer-links a:hover,
.footer-social .social-link:hover {
    text-decoration: underline;
}

.footerE {
    background-color: #304A6E;
    color: white;
    text-align: center;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.footer-infoE p {
    margin: 5px 0;
}

.footer-linksE,
.footer-socialE {
    margin: 10px 0;
}

.footer-linksE a,
.footer-socialE .social-linkE {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer-linksE a:hover,
.footer-socialE .social-linkE:hover {
    text-decoration: underline;
}


.footerP {
    background-color: #9f7d23;
    color: white;
    text-align: center;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer-info p {
    margin: 5px 0;
}

.footer-linksP,
.footer-socialP {
    margin: 10px 0;
}

.footer-linksP a,
.footer-socialP .social-linkP {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer-linksP a:hover,
.footer-socialP .social-linkP:hover {
    text-decoration: underline;
}

.footerR {
    background: linear-gradient(to right, rgb(108, 18, 204) 0%, #2575fc 100%);
    color: white;
    text-align: center;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.footer-infoR p {
    margin: 5px 0;
}

.footer-linksR,
.footer-socialR {
    margin: 10px 0;
}

.footer-linksR a,
.footer-socialR .social-linkR {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer-linksR a:hover,
.footer-socialR .social-linkR:hover {
    text-decoration: underline;
}


.footerM {
    background-color: #f0f4f0;
    color: #000000;
    text-align: center;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: 0 2px 15px 0 rgba(0,0,0,0.2);
}


.footer-infoM p {
    margin: 5px 0;
}

.footer-linksM,
.footer-socialM {
    margin: 10px 0;
}

.footer-linksM a,
.footer-socialM .social-linkM {
    color: #000000;
    text-decoration: none;
    margin: 0 10px;
}

.footer-linksM a:hover,
.footer-socialM .social-linkM:hover {
    text-decoration: underline;
}