body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background-color: #304A6E;
}

.menu-icon, .logo-center, .buy-now {
    text-align: right;
    padding-right: 10px;
}

.menu-icon img, .logo-center img {
    max-width: 30px;
    cursor: pointer;
    padding-left: 20px;
}

.logo-center img {
    max-width: 80px;
    margin: 0 auto;
    padding: 10px;
}


.side-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    transition: transform 0.3s;
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px; /* Espacio para el ícono de cierre */
    box-sizing: border-box;
    z-index: 998;
}

.menu-active {
    transform: translateX(0);
}

.menu-close {
    position: absolute;
    top: 28px;
    left: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.menu-close {
    left: 9%;
    right: 10px;
}

.side-menu a {
    color: #fff;
    text-decoration: none;
    margin: 10px 0;
    font-size: 1.5em;
    margin-bottom: 3rem;
}

.no-scroll {
    overflow: hidden;
}

