body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background-color: #304A6E;
}

.menu-icon, .logo-center, .buy-now {
    text-align: right;
    padding-right: 10px;
}

.menu-icon img, .logo-center img {
    max-width: 30px;
    cursor: pointer;
    padding-left: 20px;
}

.logo-center img {
    max-width: 100px; /* Ajusta según el tamaño de tu logo */
    margin: 0 auto; /* Centra el logo */
    padding-top: 5px;
}

.buy-now button {
    padding: 10px 20px;
    background-color: #C0D0EF;
    color: rgb(50, 47, 47);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 550;
}

.buy-now button:hover {
    background-color: #0056b3;
}
