body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background-color: #304A6E;
}

#headerP {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background-color: #9f7d23;
}

.headerR {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    border: 1px solid #ddd;
}


.headerM {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background: #f0f4f0;
    border: 1px solid #ddd;
}


.menu-icon, .logo-center, .buy-now {
    text-align: right;
    padding-right: 10px;
}

.menu-icon img, .logo-center img {
    max-width: 30px;
    cursor: pointer;
    padding-left: 20px;
}

.logo-center img {
    max-width: 80px;
    margin: 0 auto;
    padding: 10px;
}


.side-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    transition: transform 0.3s;
    overflow-y: auto; /* Permite el desplazamiento vertical dentro del menú */
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-top: 120px; /* Espacio para el ícono de cierre */
    box-sizing: border-box;
    z-index: 998;
}

.menu-active {
    transform: translateX(0);
}

.menu-close {
    position: absolute;
    top: 28px;
    left: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.menu-close {
    left: 9%;
    right: 10px;
}

.side-menu a {
    color: #fff;
    text-decoration: none;
    margin: 10px 0;
    font-size: 1.5em;
    margin-bottom: 3rem;
    margin-left: 1.5rem;
    display: block;

}

.no-scroll {
    overflow: hidden;
}


.arrow {
    float: right;
    font-size: 2rem;
    margin-right: 0.6rem;
    margin-top: -0.4rem;
    transition: transform 0.3s ease; /* Transición suave para la transformación */
}

.arrow-rotate {
    transform: rotate(180deg); /* Rota la flecha 180 grados */
}

.arrow2 {
    float: right;
    font-size: 2rem;
    margin-right: 0.6rem;
    margin-top: -0.4rem;
    transition: transform 0.3s ease; /* Transición suave para la transformación */
}

.arrow3 {
    float: right;
    font-size: 2rem;
    margin-right: 0.6rem;
    margin-top: -0.4rem;
    transition: transform 0.3s ease; /* Transición suave para la transformación */
}

.submenu {
    display: none;
    margin-top: -15px;
    transition: 3s;
}

.submenu2 {
    display: none;
    margin-top: -15px;
    transition: 3s;
}

.submenu3 {
    display: none;
    margin-top: -15px;
    transition: 3s;
}

.submenu-active {
    display: block; 
}



.submenu-active2 {
    display: block; 
}

.submenu-active3 {
    display: block; 
}

.submenu a {
    padding-left: 20px; 
    font-size: 1.1rem;
}

.submenu2 a {
    padding-left: 20px; 
    font-size: 1.1rem;
}

.submenu3 a {
    padding-left: 20px; 
    font-size: 1.1rem;
}

