body {
    overflow-x: hidden;
}

.inicio-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    position: relative;
}

.inicio-top, .inicio-bottom {
    width: 100%;
    height: 150px;
    background: linear-gradient(to bottom, #FFFFFF, #e9f2ff, #b6bfcb);
}

.inicio-bottom {
    background: linear-gradient(to bottom, #b6bfcb, #304A6E, #304A6E);
    height: 300px;
    position: relative;
}

.imagen-central {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 65%;
    z-index: 10;
}

.text-container {
    position: absolute;
    width: 100%;
    top: 28%;
    text-align: center;
    z-index: 20;
}

.line-text {
    margin: 0;
    padding: 5px;
    display: block;
}

.line1 {
    font-size: 1.3em;
    color: white;
}

.line2 {
    font-size: 2.5em;
    color: white;

}

.line3 {
    font-size: 1.3em;
    color: white;
}


.discount-line {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -8%;
    color: white;

}

.line2, .line3 {
    margin-right: 30px; /* Espacio antes del precio y ajuste de la línea 3 */
}

.line3 {
    text-align: right; /* Alinea la línea 3 más a la izquierda */
    width: calc(100% - 41%); /* Ajuste para mover el texto hacia la izquierda */
    margin-top: -10%;
}

.discount-text{
    font-size: 2.3em;
    margin-right: 5%;

}

.price-box {
    display: inline-block;
    padding: 0px;
    width: 100px; /* Tamaño cuadrado */
    height: 100px; /* Tamaño cuadrado */
    text-align: center; /* Alineación del texto dentro de la caja */
    vertical-align: middle; /* Alineación vertical del contenido */
    line-height: normal; /* Espacia-do de línea normal para acomodar mejor el precio y el descuento */
}

.price-info {
    font-size: 3.6em;
    color: #ffffff;
    margin-top: 22%;
    margin-left: -10%;
}

.price-info s {
    display: block; /* Hace que el precio tachado aparezca en una nueva línea */
    font-size: 18px; /* Tamaño del precio tachado */
    color: #ffffff; /* Color del precio tachado */
    text-decoration: line-through; /* Decoración de tachado */
    margin-left: 67%;
    margin-top: -11%;
}


/* ... Estilos anteriores ... */

.cta-container {
    position: relative;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 2px 15px 0 rgba(0,0,0,0.2);
    text-align: center;
    top: -5rem;
    margin: 0% 15% 0% 15%;
}

.cta-text {
    font-size: 1.5em; /* Ajusta el tamaño del texto según sea necesario */
    margin-bottom: 10px;
    color: #000; /* o el color del texto deseado */
}

.cta-button {
    padding: 10px 20px;
    background-color: #304A6E;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.cta-button:hover {
    background-color: #0056b3; /* o el color de fondo del botón al pasar el mouse */
}


/* ... Estilos anteriores ... */

.contenedorInfo {
    background-color: #304A6E;
    margin: 0px 20px 0px 20px;
    height: auto;
    padding: 20px;
    border-bottom: 1px solid #fff; /* Línea blanca sutil entre contenedores */
    display: flex; /* Añadido para alinear los elementos internos */
    flex-direction: column; /* Añadido para orientar los elementos en columna */
    align-items: center; /* Añadido para centrar los elementos horizontalmente */

}

/* El último contenedor no debe tener una línea debajo */
.contenedorInfo:last-child {
    border-bottom: none;
}


.info-title {
    font-size: 2em; /* Ajusta esto según lo que necesites */
    margin-bottom: 1.5rem; /* Espacio entre el título y el botón */
    color: #ffffff; /* Ajusta el color del texto según tu diseño */
    text-align: center;
}

.details-button {
    padding: 10px 20px;
    background-color: #ffffff; /* Color de fondo del botón */
    color: rgb(0, 0, 0); /* Color del texto del botón */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    box-shadow: 0 2px 15px 0 rgba(0,0,0,0.8);

}

.more-info-container {
    background-color: #ff0000; /* Color de fondo del contenedor adicional */
    margin-top: 10px; /* Espacio entre el botón y el contenedor adicional */
    /* Añade más estilos según necesites */
}

.more-info-container {
    background-color: #ffffff; /* Fondo del subcontenedor */
    padding: 15px;
    margin-top: 10px;
    border-radius: 5px;
}

.info-title {
    text-align: center;
    color: #ffffff;
}

.more-info-container h3 {
    color: #000000;
    text-align: center;
    font-size: 2rem;
}

.details-button {
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    display: block;
    width: fit-content;
    margin: 10px auto; /* Centra los botones */
    box-shadow: 0 2px 15px 0 rgba(0,0,0,0.5);
}

.see-plans {
    background-color: #304A6E;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    display: block;
    width: fit-content;
    margin: 10px auto; /* Centra los botones */
    box-shadow: 0 2px 15px 0 rgba(0,0,0,0.1);
}

.details-button, .see-plans:hover {
    transform: scale(1.1);
    transition: 0.1s;
}


.info-text, .small-text {
    text-align: center;
    margin: 25px 0;
    font-size: 1.5rem;
}

.small-text {
    font-size: 1em;
}

ul {
    padding-left: 20px;
}


