

body {
    overflow-x: hidden;
    font-family: 'Times New Roman', Times, serif;
}
.contact-info {
    position: absolute;
    text-align: center;
    margin-top: 7.8rem;
    margin-left: 7.5rem;
    z-index: 980;
}

.contact-text, .contact-number, .contact-action {
    font-size: 1.2em; /* Establece un tamaño de fuente apropiado */
    color: #333; /* Establece el color del texto */
}

.contact-number {
    font-weight: bold; /* Hace que el número de teléfono sea más destacado */
}

.inicio-container {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    position: absolute;
    overflow: hidden;
    max-width: 100%;
}

.inicio-top, .inicio-bottom {
    width: 100%;
    height: 150px;
    background: linear-gradient(to bottom, #FFFFFF, #e9f2ff, #b6bfcb);
}

.inicio-bottom {
    background: linear-gradient(to bottom, #b6bfcb, #304A6E, #304A6E);
    height: 400px;
    position: absolute;
}

.imagen-central {
    position: absolute;
    top: 2.8%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 64%;
    z-index: 10;
}

.text-container {
    position: absolute;
    width: 100%;
    top: 56%;
    text-align: center;
    z-index: 20;
}

.line-text {
    margin: 0;
    padding: 5px;
    display: block;
    color: #ffffff;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}


.line-text .lineB1 {
    margin: 0;
    padding: 5px;
    display: block;
    color: white;
}

.lineA1 {
    font-size: 1.2em;
    color: rgb(0, 0, 0);
    margin: 0 0 0 0;
}

.lineA2 {
    font-size: 1.4em;
    color: rgb(0, 0, 0);
    margin: 0 0 0 0;
}

.lineA3 {
    font-size: 1.6em;
    color: rgb(0, 0, 0);
    margin: 0 0 0 0;
}

.line1 {
    font-size: 1.3em;
    color: white;
}

.line2 {
    font-size: 1em;
    color: white;

}

.line3 {
    font-size: 1.3em;
    color: white;
}


.discount-line {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -9%;
    color: white;

}

.line2, .line3 {
    margin-right: 30px; /* Espacio antes del precio y ajuste de la línea 3 */
}

.line3 {
    text-align: right; /* Alinea la línea 3 más a la izquierda */
    width: calc(100% - 43%); /* Ajuste para mover el texto hacia la izquierda */
    margin-top: -10%;
}

.discount-text{
    font-size: 2.3em;
    margin-right: 5%;

}

.price-box {
    display: inline-block;
    padding: 0px;
    width: 100px; /* Tamaño cuadrado */
    height: 100px; /* Tamaño cuadrado */
    text-align: center; /* Alineación del texto dentro de la caja */
    vertical-align: middle; /* Alineación vertical del contenido */
    line-height: normal; /* Espacia-do de línea normal para acomodar mejor el precio y el descuento */
}

.price-info {
    font-size: 3.2em;
    color: #ffffff;
    margin-top: 22%;
    margin-left: 0%;
}

.price-info s {
    display: block; /* Hace que el precio tachado aparezca en una nueva línea */
    font-size: 18px; /* Tamaño del precio tachado */
    color: #ffffff; /* Color del precio tachado */
    text-decoration: line-through; /* Decoración de tachado */
    margin-left: 67%;
    margin-top: -11%;
}


/* ... Estilos anteriores ... */

.cta-container {
    position: relative;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    top: 22rem;
    margin: 0% 15% 0% 15%;
}

.cta-text {
    font-size: 1.5em; /* Ajusta el tamaño del texto según sea necesario */
    margin-bottom: 10px;
    color: #000; /* o el color del texto deseado */
}

.cta-button {
    padding: 10px 20px;
    background-color: #304A6E;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.cta-button:hover {
    background-color: #0056b3; /* o el color de fondo del botón al pasar el mouse */
}


/* ... Estilos anteriores ... */

.contenedorInfo {
    background-color: #304A6E;
    margin: 25rem 20px 0px 20px;
    height: auto;
    padding: 10px;
    border-bottom: 1px solid #fff; /* Línea blanca sutil entre contenedores */
    display: flex; /* Añadido para alinear los elementos internos */
    flex-direction: column; /* Añadido para orientar los elementos en columna */
    align-items: center; /* Añadido para centrar los elementos horizontalmente */

}

/* El último contenedor no debe tener una línea debajo */
.contenedorInfo:last-child {
    border-bottom: none;
}


.info-title {
    font-size: 3em;
    margin-bottom: 1.5rem;
    color: #ffffff;
    text-align: center;
}

.details-button {
    padding: 10px 20px;
    background-color: #ffffff; /* Color de fondo del botón */
    color: rgb(0, 0, 0); /* Color del texto del botón */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    box-shadow: 0 2px 15px 0 rgba(0,0,0,0.8);

}

.more-info-container {
    background-color: #ff0000; /* Color de fondo del contenedor adicional */
    margin-top: 10px; /* Espacio entre el botón y el contenedor adicional */
    /* Añade más estilos según necesites */
}

.more-info-container {
    background-color: #ffffff; /* Fondo del subcontenedor */
    padding: 15px;
    margin-top: 10px;
    border-radius: 5px;
}

.info-title {
    text-align: center;
    color: #ffffff;
}



.more-info-container h3 {
    color: #000000;
    text-align: center;
    font-size: 2rem;
}

.details-button {
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 5px;
    padding: 15px 24px;
    cursor: pointer;
    display: block;
    width: fit-content;
    margin: 10px auto;
    box-shadow: 0 2px 15px 0 rgba(0,0,0,0.5);
    font-size: 1.1rem;
}

.see-plans {
    background-color: #304A6E;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 15px 24px;
    cursor: pointer;
    display: block;
    width: fit-content;
    margin: 10px auto;
    box-shadow: 0 2px 15px 0 rgba(0,0,0,0.1);
    font-size: 1.1rem;
}



.info-text, .small-text {
    text-align: center;
    margin: 25px 0;
    font-size: 1.5rem;
}

.small-text {
    font-size: 1em;
}

ul {
    padding-left: 20px;
}

.info-title2 {
    text-align: center;
    color: #ffffff;
    font-size: 1.9rem;

}

.maintenance-image {
    display: block;  
    width: 80%;  
    height: 30%;
    margin: 0 auto;  
    margin-top: 10px;  
}


.price-highlight {
    font-size: 4.5rem;  
    color: #ffffff;   
    text-align: center;
    margin-bottom: -25px;
}

.maintenance-description {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
    color: white;

}

.small-text2 {
    color: red;
    text-align: center;
    margin: 25px 0;
    font-size: 1em;
}

.details-button2 {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 15px 24px;
    cursor: pointer;
    display: block;
    width: fit-content;
    margin: 10px auto;
    box-shadow: 0 2px 15px 0 rgba(0,0,0,0.5);
    font-size: 1.1rem;
}

.contenedorInfo2{
    margin: 1rem 20px 0px 20px;
}

.skills-container{
    background-color: #FFFFFF;
    margin: 1rem 20px 0px 20px;
}

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}



.skill-item {
    width: calc(110% - 40px); 
    margin: 20px;
    text-align: center;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(48, 74, 110, 5);
}

.skill-item img {
    width: 30%;  
    height: auto;
    margin-bottom: -10px;
}

.skill-description {
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.info-title3 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 10px;
    color: #304A6E;
}

.titleSkills{
    color: #304A6E;
    font-size: 1.5rem;
}

.pSkills{
    font-size: 1.2rem;
    margin-top: -3%;
}

/* Ocultar texto original y ajustar espaciado */


@media (min-width: 344px) {
    .contact-info {
        position: absolute;
        text-align: center;
        margin-top: 7.5rem;
        margin-left: 31%;
        z-index: 980;
    }

    .discount-text {
        font-size: 2em;
        margin-right: 5%;
    }

    .line3 {
        text-align: right;
        width: calc(100% - 43%);
        margin-top: -10%;
        margin-left: 1rem;
    }

    .price-info {
        font-size: 3em;
        color: #ffffff;
        margin-top: 22%;
        margin-left: -25%;
    }
}

@media (min-width: 360px) {
    .contact-info {
        position: absolute;
        text-align: center;
        margin-top: 7.6rem;
        margin-left: 32%;
        z-index: 980;
    }

    .discount-text {
        font-size: 2em;
        margin-right: 5%;
    }

    .line3 {
        text-align: right;
        width: calc(100% - 43%);
        margin-top: -10%;
        margin-left: 1rem;
    }

    .price-info {
        font-size: 3em;
        color: #ffffff;
        margin-top: 22%;
        margin-left: -25%;
    }

    .imagen-central {
        position: absolute;
        top: 3%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 60%;
        z-index: 10;
    }
}



@media (min-width: 380px) {
    .contact-info {
        position: absolute;
        text-align: center;
        margin-top: 7.6rem;
        margin-left: 31.4%;
        z-index: 980;
    }

    .discount-text {
        font-size: 2em;
        margin-right: 5%;
    }

    .line3 {
        text-align: right;
        width: calc(100% - 43%);
        margin-top: -9%;
        margin-left: 1rem;
    }

    .price-info {
        font-size: 3em;
        color: #ffffff;
        margin-top: 22%;
        margin-left: -25%;
    }
}




@media (min-width: 385px) {
    .contact-info {
        position: absolute;
        text-align: center;
        margin-top: 7.6rem;
        margin-left: 32.1%;        
        z-index: 980;
    }

    .discount-text {
        font-size: 2em;
        margin-right: 5%;
    }

    .line3 {
        text-align: right;
        width: calc(100% - 43%);
        margin-top: -9%;        
        margin-left: 1rem;
    }

    .price-info {
        font-size: 3em;
        color: #ffffff;
        margin-top: 22%;
        margin-left: -25%;
    }
}

@media (min-width: 390px) {
    .contact-info {
        position: absolute;
        text-align: center;
        margin-top: 7.3rem;
        margin-left: 30%;
        z-index: 980;
    }

    
    .lineA1 {
        font-size: 1.4em;
        color: rgb(0, 0, 0);
        margin: 0 0 0 0;
    }

    .lineA2 {
        font-size: 1.6em;
        color: rgb(0, 0, 0);
        margin: 0 0 0 0;
    }

    .lineA3 {
        font-size: 1.7em;
        color: rgb(0, 0, 0);
        margin: 0 0 0 0;
    }
    }

@media (min-width: 410px) {
    .contact-info {
        position: absolute;
        text-align: center;
        margin-top: 7.5rem;
        margin-left: 31.2%;
        z-index: 980;
    }
}

    .text-container {
        position: absolute;
        width: 100%;
        top: 58%;
        text-align: center;
        z-index: 20;
    }


@media (min-width: 420px) {
    .contact-info {
        position: absolute;
        text-align: center;
        margin-top: 7.5rem;
        margin-left: 32%;
        z-index: 980;
    }

    .text-container {
        position: absolute;
        width: 100%;
        top: 58%;
        text-align: center;
        z-index: 20;
    }
}

@media (min-width: 435px) {
    .contact-info {
        position: absolute;
        text-align: center;
        margin-top: 7.5rem;
        margin-left: 32%;
        z-index: 980;
    }

    .text-container {
        position: absolute;
        width: 100%;
        top: 58%;
        text-align: center;
        z-index: 20;
    }
}


.wg-drop.country-selector .wgcurrent a {
    padding-right: 40px;
    width: 4rem;
    height: 3rem;
}

.wg-default .wg-drop.country-selector a {
    font-size: 18px !important;
}

.wg-drop.country-selector.closed .wgcurrent:after {
    transform: rotate(-90deg);
    margin-top: 5%;
}

.wg-drop.country-selector li {
    list-style-type: none;
    width: auto;
    height: 2.5rem;
}