.portfolio-intro {
    text-align: center;
    margin-bottom: 20px;
}

.title {
    font-size: 2.5rem;
}

.description {
    font-size: 16px;
    margin: 15px;
}

.portfolio-container {
    display: block; /* Continúa usando block si quieres un apilamiento vertical */
    padding: 0px 20px 20px 20px;
}


.portfolio-item {
    width: 80%;
    margin: 2.5rem auto; /* Agrega 20px de espacio por arriba y por abajo */
    text-align: center;
    display: block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    height: auto;
}

.title2{
    font-size: 2rem;
}

.portfolio-image {
    width: 90%;
    height: auto;
    border-radius: 10px;
    padding-top: 5%;
}

.view-page-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px;
    width: 90%;
}

.view-page-button:hover {
    background-color: #0056b3;
}

.small-text {
    font-size: 1rem;
    margin: 15px;
}

.plans-overview {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.plans-overview-title {
    font-size: 24px;
    margin-bottom: 15px;
}

.plan-details {
    display: flex;
    justify-content: space-around;
}

.plan-detail {
    background: #ffffff;
    box-shadow: 0 4px 8px #304a6e;
    padding: 15px;
    border-radius: 8px;
    width: 90%;
    margin-bottom: 2.5rem;
}

.plan-detail h3 {
    color: #333;
}

.plan-detail ul {
    list-style: none;
    padding: 0;
}

.plan-detail ul li {
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.plan-detail ul li:last-child {
    border-bottom: none;
}


.portada {
    display: flex;
    flex-direction: column;
    align-items: center; /* Asegura que los elementos hijos se centren horizontalmente */
    margin: 0 auto; /* Centra el div 'portada' en la página */
    width: 100%; /* Ajusta el ancho como necesario */
    height: auto;
}

.img-portada {
    width: 98%; /* Ajusta el ancho de la imagen */
    max-height: 100%; /* Mantiene la proporción de la imagen */
    border-radius: 10px;
    padding-top: 5%;
}