.personal-intro {
    text-align: center;
    background-color: #f7f9fb;
    padding: 20px;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 10px auto;
}

.certificate-link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.service-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.service-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Esto asegura que el contenido interno se distribuya */
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    padding: 15px;
    margin: 10px;
    width: 30%; /* o ajusta según tu diseño */
    height: auto; /* Asegúrate de tener una altura fija o mínima para mantener la uniformidad */
    position: relative;
}

.service-div button {
    margin-top: auto; /* Esto empuja el botón hacia abajo */
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.service-div button:hover {
    background-color: #0056b3;
}


.service-div h3 {
    color: #333333;
}

.service-div p {
    font-size: 14px;
    color: #666666;
    margin: 0px 10px 10px 10px;
}


.service-div button:hover {
    background-color: #0056b3;
}
