
.titles {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    width: 86%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.title-container {
    width: 49%; /* Cada contenedor de título ocupa aproximadamente la mitad del ancho */
    box-sizing: border-box; /* Incluye padding y border en el cálculo del ancho */
}

.progress-bar, .progress-bar2 {
    height: 5px;
    width: 0%; /* Comienza desde 0% y se anima desde JS */
    display: none; /* Controlado por JS */
}

.progress-bar {
    background-color: blue;
}

.progress-bar2 {
    background-color: black;
}

.titles h3 {
    margin: 0;
    padding-bottom: 5px; /* Espacio entre el título y la barra */
    font-size: 16px; /* Ajuste el tamaño de la fuente según sea necesario para móviles */
}

.progress-bar {
    height: 5px;
    background: linear-gradient(to bottom, #1F9FDA, #1F9FDA, #304A6E);
    width: 50%;
}

.progress-bar2 {
    height: 4.5px;
    background: linear-gradient(to bottom, #1F9FDA, #1F9FDA, #304A6E);
    width: 50%;
}


.carousel {
    position: relative;
    overflow: hidden;
    padding: 20px 0px 20px 0px;
}

.slide {
    display: none;
    position: absolute;
    width: 100%;
    text-align: center;
    background: ghostwhite;

}

.slide p {
    font-size: 18px;
}

.slide button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.slide button:hover {
    background-color: #0056b3;
}

.slide-maintenance h1 {
    color: blue; 
}

.slide-custom {
    background-color: lightgrey; 
    margin-top: -5%;
}

.maintenance-intro {
    position: relative;
    text-align: center;
    padding: 20px;
    width: 90%;
    height: 22rem;
    background-size: cover; /* Cubre el área completa del div sin deformarse */
    background-position: center; /* Centra la imagen en el div */
    background-repeat: no-repeat;
    border-radius: 0 0 15px 15px;
    margin-bottom: 1.7rem;
}

.maintenance-intro2 {
    position: relative;
    text-align: center;
    padding: 20px;
    width: 90%;
    height: 22rem;
    background-size: cover; /* Cubre el área completa del div sin deformarse */
    background-position: center; /* Centra la imagen en el div */
    background-repeat: no-repeat;
    border-radius: 0 0 15px 15px;
    margin-bottom: 3rem;
}


.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra el contenedor sin deformarse */
    border-radius: 0 0 15px 15px;
}


.maintenance-image {
    width: 10%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.title {
    font-size: 24px;
    margin-top: 20px;
}

.description {
    font-size: 16px;
    margin: 10px auto;
    width: 80%;
}

.contact-button {
    position: relative;
    background-color: #ffffff;
    color: black;
    border: none;
    padding: 10px 40px;
    cursor: pointer;
    margin-top: 7rem;
    margin-right: 50%;
    font-size: 1rem;
    border-radius: 8px;
    z-index: 999;
}

.contact-button:hover {
    background-color: #0056b3;
}

.contact-button2 {
    position: relative;
    background-color: #ffffff;
    color: black;
    border: none;
    padding: 10px 40px;
    cursor: pointer;
    margin-top: 20.2rem;
    margin-right: 0;
    font-size: 1rem;
    border-radius: 8px;
}

.contact-button:hover2 {
    background-color: #0056b3;
}


.plan-container {
    display: block;
    justify-content: space-around;
    padding: 20px;
}

.plan {
    width: 90%;
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.plan-title {
    font-size: 20px;
    color: #333;
}

.plan-description {
    font-size: 16px;
    color: #666;
}

.plan-price {
    font-size: 24px;
    color: #28a745;
}

.info-titleS {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #304A6E;
    margin: 0 10% 0%;
}

.pSkills{
    font-size: 1.2rem;
    margin-top: 1rem;
}