.title {
    text-align: center;
    font-size: 3rem;
}

.feature-image {
    display: block;
    margin: 0px auto;
    width: 100%; /* Ajusta según necesidades */
}

.description {
    text-align: center;
    margin: 20px auto;
    width: 80%;
    font-size: 1.1rem;
}

.plans-container {
    display: flex;
    flex-direction: column; /* Cambio para alinear los contenedores verticalmente */
    align-items: center; /* Centra los contenedores horizontalmente */
    padding: 20px;
}

.plan {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px; /* Añade un margen inferior para separar los contenedores */
    width: 80%; /* Ajusta la anchura para un diseño más consistente */
    text-align: left;
    box-shadow: 0 2px 5px rgba(25, 92, 187, 0.5); /* Opcional: añade sombra para mejor estética */
}

.plan-title {
    font-size: 2rem;
    color: #333;
}

.plan-summary {
    font-size: 16px;
    color: #666;
    margin-bottom: -3rem;
}

.plan-price {
    font-size: 3.5rem;
    color: #007BFF;
    margin-bottom: -1rem;
}

.small-text {
    font-size: 14px;
    color: #999;
}

.plan-checklist {
    list-style: none;
    padding: 0;
}

.plan-checklist .check-icon {
    color: green;
    margin-right: 0.5rem;
}

.contact-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

.contact-button:hover {
    background-color: #0056b3;
}
