.intro-section {
    background: linear-gradient(to right, rgb(108, 18, 204) 0%, #2575fc 100%);
    color: white;
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 10%;
}

.title {
    font-size: 2.6rem;
    margin-bottom: 10px;
    padding: 0% 10% 0% 10%;
}

.description {
    font-size: 18px;
    margin-bottom: 20px;
}

.feature-image {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto 30px;
}

.plans-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.plan {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px; /* Añade un margen inferior para separar los contenedores */
    width: 80%; /* Ajusta la anchura para un diseño más consistente */
    text-align: left;
    box-shadow: 0 2px 5px rgba(108, 18, 204, 0.502); /* Opcional: añade sombra para mejor estética */
}

.plan-title {
    font-size: 2rem;
    color: #333;
}

.plan-summary {
    font-size: 16px;
    color: #666;
    margin-bottom: -3rem;
}

.small-text {
    font-size: 14px;
    color: #999;
}

.plan-price {
    font-size: 3.5rem;
    background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    margin-bottom: -1rem;
}

.plan-features {
    list-style: none;
    padding: 0;
    font-size: 1.1rem;
}

.check-icon {
    color: green;
}

.contact-button {
    background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

.contact-button:hover {
    background-color: #0056b3;
}
